h1 {font-size: 50px;}
body {font-family: Veranda, sans-serif; text-aligh: center; background-color: black; color: white; font-weight: bold;}
.cta {color: aquamarine; font-size 16px;}
h2 {font-size: 42px; font-weighht: bold;}
