h1 {font-size: 50px; text-align: center;}
body {font-family: Veranda, sans-serif; text-aligh: center; background-color: black; color: white; font-weight: bold;}
.cta {color: aquamarine; font-size 16px; text-align: center;}
h2 {font-size: 42px; font-weighht: bold; text-align: center;}
p {font-align: center;}
.app {text-align: center;}
